body {
    background: radial-gradient(#334e43, #cee4ce); 
  }
  
  .btn-flat {
    background-color: #598787;
    
  }

  .btn-xxl {
    padding: 1rem 1.rem;
    font-size: 1.5rem;
    border-radius: 50px;
    color: #f1d261;
    border-color: #f1d261; 
    border-width: 3px;
    font-family: 'Caveat', cursive;
  }

  .form-control {
    width: 75%;
    border-bottom: 3px solid #95a687;
    border-top: 3px solid #95a687;
  }

  .custom-border {
    border-bottom: 4px solid #f1d261;
  }