  .btn-xxl {
    padding: 1rem 1.3rem;
    font-size: 1.5rem;
    border-radius: 50px;
    color: #f1d261;
    border-color: #f1d261; 
    border-width: 3px;
    font-family: 'Caveat', cursive;
  }

  .card-title {
    font-family: 'Catamaran', sans-serif;
    padding: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.6rem;
    font-size: 1.2rem;
    border-top: 3px solid #f1d261;
    border-bottom: 3px solid #f1d261;
    border-width: 10px;
  }

  

  .card-body-custom {
    background: linear-gradient(to bottom, #95a687, #cee4ce)
    
  }

  .card-footer {
    background-color: #f1d261;
  }
  .recipeCard{
    width: 20rem;
    text-align: center;
  }